.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    border-radius: 5px;
    border-color: var(--primaryColor);
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
   
   
}

.menuLabel {
    color: var(--primaryColor);
    
}

.icon {
    color: white;
    margin-left: 10px;
    margin-right:10px;
  }