.container {
    display: flex;
    flex: 1;
    background-color: var(--backgroundColor) ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.body {
    width: 350px;
    display: flex;
    flex: 1;
   flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

h4 {
    color: white;
    margin-bottom: 10px;

} 

 .blueline {
    background-color: var(--primaryColor);
    height: 5px;
    width: 40px;
    margin-bottom: 20px;
  }

  .userName {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }


.noRecords {
  color: var(--primaryColor);
  font-size: 14px;
}


  .diaSelecionado {
    color: #f00;
    font-weight: bold;
  }
  