.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color: var(--primaryColor);
    border-bottom-style: solid;
    margin-bottom: 5px;
    width: 100%;
}

.label {
    color: white;
    font-size: 12px;
}

.icon {
    color: var(--primaryColor);
}